/* content main area in grid */
.content-index {
  grid-area: main;
  display: grid;
  grid-template-columns: 33% 63%;
  grid-auto-rows: minmax(50% auto);
  grid-template-areas:
  "ng hp"
  "ng ss";
}

/* homepage text */
.homepage {
  grid-area: hp;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 100;
  line-height: 1.5em;
  text-align:justify;
  word-break: break-word;
}

.homepage h1 {
  font-style: normal;
  font-weight: lighter;
  text-align: left;
}

h5 {
  margin-bottom: 0;
  font-weight: lighter;
}

.class.signature {
  margin-top: 0;
  margin-bottom: 0;
  font-style: italic;
}

/* subscribe to blog */
.subscribe {
  grid-area: ss;
  height: 100%;
  padding: 3px;
}

/* displays an image gallery */
.nested-grid {
  grid-area: ng;
  display: grid;
  margin-bottom: 5%;
  align-items: center;
  grid-template-columns: 50% 50%;
  grid-template-rows: 33% 33% 33%;
  grid-template-areas:
  "one two"
  "three four"
  "five six";
}

/* image gallery boxes */
.gallery {
  width: 100px;
  height: 140px;
  border: 1px solid black;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #333;
}

.gallery.one {
  grid-area: one;
  background-image: url(photo/D1.jpg);
}

.gallery.two {
  grid-area: two;
  background-image: url(photo/C.jpg);
}

.gallery.three {
  grid-area: three;
  background-image: url(photo/B.jpg);
}

.gallery.four {
  grid-area: four;
  background-image: url(photo/A.jpg);
}

.gallery.five {
  grid-area: five;
  background-image: url(photo/F.jpg);
}

.gallery.six {
  grid-area: six;
  background-image: url(photo/E.jpg);
}

/* smaller screens */
@media (max-width: 900px) {
  .content-index {
    grid-area: main;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: minmax(30px, 470px);
    grid-template-areas:
    "hp"
    "ss"
    "ng";
  }
}
